<footer class="footer mt-auto py-3 bg-dark text-light" style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="https://github.com/richardy/djTaskFlow" target="_blank" class="text-light">
                    <i class="fab fa-github fa-lg"></i> Código Fonte
                </a>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="mailto:code.richardy@gmail.com" class="text-light">
                    <i class="fas fa-envelope fa-lg"></i> code.richardy@gmail.com
                </a>
            </div>
        </div>
        <hr class="my-2">
        <p class="text-center mb-0">© 2023 TaskFlow. Todos os direitos reservados.</p>
    </div>
</footer>